/* body,
* {
  margin: 0;
  padding: 0;
} */

.container {
  width: 80%;
  margin: 5px auto;
  border: 5px solid green;
}

/* ----------- Static ------------ */
.static .satu {
  width: 100px;
  height: 100px;
  background-color: red;
}
.static .dua {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.static .tiga {
  width: 100px;
  height: 100px;
  background-color: brown;
}
/* ----------- Relative ------------ */
.relative .asatu {
  width: 100px;
  height: 100px;
  background-color: red;
}
.relative .adua {
  width: 100px;
  height: 100px;
  position: relative;
  right: 50px;
  background-color: blue;
}
.relative .atiga {
  width: 100px;
  height: 100px;
  background-color: brown;
}
/* ----------- Absolute ------------ */
.absolute {
  position: relative;
}
.absolute .bsatu {
  width: 100px;
  height: 100px;
  background-color: red;
}
.absolute .bdua {
  width: 100px;
  position: absolute;
  height: 100px;
  left: 40px;
  background-color: blue;
}
.absolute .btiga {
  width: 100px;
  height: 100px;
  background-color: brown;
}
/* ----------- Fixed ------------ */
.fixed .csatu {
  width: 100px;
  height: 100px;
  background-color: red;
}

.fixed .cdua {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  background-color: blue;
}

.cdua p {
  color: white;
  text-align: center;
  font-size: small;
}
.fixed .ctiga {
  width: 100px;
  height: 100px;
  background-color: brown;
}
