header {
    text-align: center;
    background-color: aqua;
    height: 100%;
    width: 100%;
    
}

nav {
    text-align: center;
    background-color: rgb(136, 253, 175);
    width: 100%;
    height: 100%;
}

section {
    width:50%;
    height: 50%;
    background-color: rgb(132, 202, 202);
}

section > article {
    background-color: rgb(190, 190, 154);
}

aside {
    background-color: blanchedalmond;
    text-align: end;
    
}

footer {
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    height: 100%;
}