/* div {
    display: inline-block;
} */

.satu {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin-left: 50px;
    display: inline-block;
}

.dua{
    width: 150px;
    height: 150px;
    background-color: grey;
    margin-left: 20px;
    display: inline-block;
}

.Asatu {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin-left: 50px;
    display: inline-block;
}

.Adua{
    width: 150px;
    height: 150px;
    background-color: grey;
    margin-left: -20px;
    display: inline-block;
}

.Bsatu {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin-left: auto;
    margin-right: auto;
}

.Csatu {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin : 10px 20px 30px 40px; /* ATAS , KANAN, BAWAH, KIRI */
    
}

body > div {
    text-align: center;
}